element.style {
}
.name {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

p {


}

* {
 font-family: 'Lato', sans-serif;

 
}

*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid;

    
}
.topbar {
     border: 3px solid;
     background-color: black;
}
}

.welcome {
 
  height: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 25px;

}

.blackbar {
     border: 3px solid;
     background-color: black;
     height: 15px;
}
}

.contactus {
    
     height: 50px;
}
.grid {

      display: flex;
      display: -webkit-flex;
      max-width: 980px;
      min-width: 980px;
      margin: 10px
}

.row1 {
 

}

.col-4 {
      width: 33.33%;
      overflow: auto;

} 

.head {
      width: 55%;
      overflow: auto; 

}
.head2 {
      width: 45%;
      overflow: auto;
      padding-left: 29%; 

}

.col-11 {
      width: 100%;
      overflow: auto; 
      font-family: 'Lato', sans-serif;

}
h1 { font-family: ; font-weight: 371; size: 5px; text-align: left;}

.screenshot { 
  max-width: 460px;
  margin-right: 20px;
}

.description {
   max-width: 705px;
  }

.row {
 width: 100%
}

.title {
  display: flex;
      display: -webkit-flex;
}


